
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
yarn.lock

dist/
build/

.vscode/
.idea/

.env
.env.local

coverage/
*.test.js
*.spec.js

.DS_Store
Thumbs.db

*.tgz
*.zip
*.tar.gz

tmp/
temp/

.npmrc
